*~
*.agdai
*.aux
*_aux
*.bbl
*.blg
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
all.bib
medium.bib
/src-stlc/latex/
/src-stlc/html/
/src-lf/Bug-Cannot-Intro-Abbrev.agda
/src-lf/Bug-Name-Clash.agda
/src-lf/Bug-Rewrite.agda
